/*  top*/
.top-top {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

/* top */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 2rem;
}

.col-1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.col-1-wrapper{
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
 flex-direction: column;
  width: 100%;
}

li div{
 
  width: fit-content;
}

.col-2 {
  display: flex;
  max-width: 1200px;
  gap: 2rem;
 
  /* justify-content: center;
  align-items: center; */
 
}
.col-2 .top-info{
  display: flex;
  flex-direction: column;
  width: 70%;
}
/* form */
form{
  display: flex;
  flex-direction: column;
  width: 100%;
 
}
div.form{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 600px;
  flex-direction: column;
 
}
input{
  padding: 15px 15px;
  border: none;
  background-color: #cce7ff;
  width: 100%;
}
input.submit{
  background-color: blue;
}

@media screen and (max-width: 1000px){
  div.form{
    display: none;
  }
  .col-2 .top-info{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
/* form */



 
 

.col-2 div p {
  font-size: 15px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.col-2 div h2 {
  color: brown;
  font-size: 40px;
}
.col-2 div h3 {
  color: brown;
  font-size: 20px;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 1rem;
}
@media screen and (max-width: 505px) {
  .col-2 div h2 {
    color: brown;
    font-size: 28px;
  }
  .col-2 div h3 {
    color: brown;
    font-size: 15px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 435px) {
  .col-2 div h2 {
    color: brown;
    font-size: 30px;
  }
  .col-2 div h3 {
    color: brown;
    font-size: 15px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 378px) {
  .col-2 div h2 {
    color: brown;
    font-size: 25px;
  }
  .col-2 div h3 {
    color: brown;
    font-size: 15px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 300px) {
  .col-2 div h2 {
    color: brown;
    font-size: 20px;
  }
  .col-2 div h3 {
    color: brown;
    font-size: 13px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    margin-bottom: 1rem;
  }
}

.col-3 {
  max-width: 1200px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.images-col3 {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.images-col3 div {
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
@media screen and (max-width: 200px) {
  .images-col3 div {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 350px) {
  .images-col3 div {
    width: 170px;
    height: 170px;
  }
}
@media screen and (min-width: 370px) {
  .images-col3 div {
    width: 180px;
    height: 180px;
  }
}
@media screen and (min-width: 390px) {
  .images-col3 div {
    width: 190px;
    height: 190px;
  }
}
@media screen and (min-width: 430px) {
  .images-col3 div {
    width: 210px;
    height: 210px;
  }
}
@media screen and (min-width: 460px) {
  .images-col3 div {
    width: 220px;
    height: 220px;
  }
}
@media screen and (min-width: 490px) {
  .images-col3 div {
    width: 233px;
    height: 233px;
  }
}
@media screen and (min-width: 520px) {
  .images-col3 div {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 520px) {
  .images-col3 div {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 520px) {
  .images-col3 div {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 580px) {
  .images-col3 div {
    width: 280px;
    height: 280px;
  }
}
@media screen and (min-width: 580px) {
  .images-col3 div {
    width: 280px;
    height: 280px;
  }
}
@media screen and (min-width: 690px) {
  .images-col3 div {
    width: 330px;
    height: 330px;
  }
}
@media screen and (min-width: 750px) {
  .images-col3 div {
    width: 360px;
    height: 360px;
  }
}
@media screen and (min-width: 850px) {
  .images-col3 div {
    width: 400px;
    height: 400px;
  }
}
@media screen and (min-width: 1000px) {
  .images-col3 div {
    width: 200px;
    height: 200px;
  }
  .images-col3 div:last-child {
    display: none;
  }
  .images-col3 {
    max-width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
@media screen and (min-width: 1100px) {
  .images-col3 div {
    width: 330px;
    height: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .images-col3 div {
    width: 300px;
    height: 300px;
  }
}

h2 {
  border-top: 7px solid blue;
  color: blue;
  /* margin-bottom: 1rem; */
}

/*  */
.col-4 {
  margin-left: 0.5rem;
  max-width: 1200px;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  .col-4 {
    max-width: 1200px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 15px;
  }
}

footer {
  background-color: black;
  color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: black;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}
footer img {
  width: 200px;
}
.footer-links{
  display: flex;
  gap: 2rem;
}
.footer-links a{
 font-size: 25px;
}


